trunk/website/dotnet/Babylon.Site/Babylon.Services.References/Service References/MessageServiceReference/MessageServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Metro.Services.Babylon/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MessageServiceService" targetNamespace="http://Metro.Services.Babylon/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MessageServicePortBindingPolicy">
    <wsam:Addressing wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="MessageServicePortBinding_MTOM_Policy-MessageServicePortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ubuntubox:8080/Babylon.Services.Metro/MessageService?xsd=1" namespace="http://Metro.Services.Babylon/" />
    </xsd:schema>
  </types>
  <message name="CreateMessage">
    <part name="parameters" element="tns:CreateMessage" />
  </message>
  <message name="CreateMessageResponse">
    <part name="parameters" element="tns:CreateMessageResponse" />
  </message>
  <message name="ModifyMessage">
    <part name="parameters" element="tns:ModifyMessage" />
  </message>
  <message name="DeleteMessage">
    <part name="parameters" element="tns:DeleteMessage" />
  </message>
  <message name="GetSentMessages">
    <part name="parameters" element="tns:GetSentMessages" />
  </message>
  <message name="GetSentMessagesResponse">
    <part name="parameters" element="tns:GetSentMessagesResponse" />
  </message>
  <message name="GetReceivedMessages">
    <part name="parameters" element="tns:GetReceivedMessages" />
  </message>
  <message name="GetReceivedMessagesResponse">
    <part name="parameters" element="tns:GetReceivedMessagesResponse" />
  </message>
  <message name="SearchMessages">
    <part name="parameters" element="tns:SearchMessages" />
  </message>
  <message name="SearchMessagesResponse">
    <part name="parameters" element="tns:SearchMessagesResponse" />
  </message>
  <message name="GetMessage">
    <part name="parameters" element="tns:GetMessage" />
  </message>
  <message name="GetMessageResponse">
    <part name="parameters" element="tns:GetMessageResponse" />
  </message>
  <message name="SendMessage">
    <part name="parameters" element="tns:SendMessage" />
  </message>
  <message name="SendMessageResponse">
    <part name="parameters" element="tns:SendMessageResponse" />
  </message>
  <portType name="MessageService">
    <operation name="CreateMessage">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/CreateMessageRequest" message="tns:CreateMessage" />
      <output wsam:Action="http://Metro.Services.Babylon/MessageService/CreateMessageResponse" message="tns:CreateMessageResponse" />
    </operation>
    <operation name="ModifyMessage">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/ModifyMessage" message="tns:ModifyMessage" />
    </operation>
    <operation name="DeleteMessage">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/DeleteMessage" message="tns:DeleteMessage" />
    </operation>
    <operation name="GetSentMessages">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/GetSentMessagesRequest" message="tns:GetSentMessages" />
      <output wsam:Action="http://Metro.Services.Babylon/MessageService/GetSentMessagesResponse" message="tns:GetSentMessagesResponse" />
    </operation>
    <operation name="GetReceivedMessages">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/GetReceivedMessagesRequest" message="tns:GetReceivedMessages" />
      <output wsam:Action="http://Metro.Services.Babylon/MessageService/GetReceivedMessagesResponse" message="tns:GetReceivedMessagesResponse" />
    </operation>
    <operation name="SearchMessages">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/SearchMessagesRequest" message="tns:SearchMessages" />
      <output wsam:Action="http://Metro.Services.Babylon/MessageService/SearchMessagesResponse" message="tns:SearchMessagesResponse" />
    </operation>
    <operation name="GetMessage">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/GetMessageRequest" message="tns:GetMessage" />
      <output wsam:Action="http://Metro.Services.Babylon/MessageService/GetMessageResponse" message="tns:GetMessageResponse" />
    </operation>
    <operation name="SendMessage">
      <input wsam:Action="http://Metro.Services.Babylon/MessageService/SendMessageRequest" message="tns:SendMessage" />
      <output wsam:Action="http://Metro.Services.Babylon/MessageService/SendMessageResponse" message="tns:SendMessageResponse" />
    </operation>
  </portType>
  <binding name="MessageServicePortBinding" type="tns:MessageService">
    <wsp:PolicyReference URI="#MessageServicePortBinding_MTOM_Policy-MessageServicePortBinding_MTOM_Policy" />
    <wsp:PolicyReference URI="#MessageServicePortBindingPolicy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateMessage">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ModifyMessage">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
    </operation>
    <operation name="DeleteMessage">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
    </operation>
    <operation name="GetSentMessages">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetReceivedMessages">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SearchMessages">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetMessage">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SendMessage">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MessageServiceService">
    <port name="MessageServicePort" binding="tns:MessageServicePortBinding">
      <soap12:address location="http://ubuntubox:8080/Babylon.Services.Metro/MessageService" />
    </port>
  </service>
</definitions>