services/java/Babylon.Services/Babylon.Services.Adapters/xml-resources/web-service-references/MediaService/wsdl/devbox_8080/Babel.Services/MediaService.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Babel.Services.Domain"><xs:import schemaLocation="http://devbox:8080/Babel.Services/MediaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Babel.Services.Common"/><xs:import schemaLocation="http://devbox:8080/Babel.Services/MediaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="MediaItem"><xs:sequence><xs:element minOccurs="0" name="AlternativeText" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Format" type="q1:MediaFormat" xmlns:q1="http://schemas.datacontract.org/2004/07/Babel.Services.Common"/><xs:element minOccurs="0" name="ID" type="ser:guid"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Type" type="q2:MediaType" xmlns:q2="http://schemas.datacontract.org/2004/07/Babel.Services.Common"/><xs:element minOccurs="0" name="UploadedOn" type="xs:dateTime"/></xs:sequence></xs:complexType><xs:element name="MediaItem" nillable="true" type="tns:MediaItem"/><xs:complexType name="ArrayOfMediaItem"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="MediaItem" nillable="true" type="tns:MediaItem"/></xs:sequence></xs:complexType><xs:element name="ArrayOfMediaItem" nillable="true" type="tns:ArrayOfMediaItem"/></xs:schema>