services/java/Babylon.Services/Babylon.Services.Application/web/WEB-INF/wsit-Babylon.Services.MessagingService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MessagingServiceService" targetNamespace="http://Services.Babylon/" xmlns:tns="http://Services.Babylon/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
 >
    <message name="CreateMessage"/>
    <message name="CreateMessageResponse"/>
    <message name="SendMessage"/>
    <message name="SendMessageResponse"/>
    <message name="ModifyMessage"/>
    <message name="ModifyMessageResponse"/>
    <message name="DeleteMessage"/>
    <message name="DeleteMessageResponse"/>
    <message name="GetMessage"/>
    <message name="GetMessageResponse"/>
    <message name="GetSentMessages"/>
    <message name="GetSentMessagesResponse"/>
    <message name="GetReceivedMessages"/>
    <message name="GetReceivedMessagesResponse"/>
    <message name="SearchMessages"/>
    <message name="SearchMessagesResponse"/>
    <portType name="MessagingService">
        <operation name="CreateMessage">
            <input message="tns:CreateMessage"/>
            <output message="tns:CreateMessageResponse"/>
        </operation>
        <operation name="SendMessage">
            <input message="tns:SendMessage"/>
            <output message="tns:SendMessageResponse"/>
        </operation>
        <operation name="ModifyMessage">
            <input message="tns:ModifyMessage"/>
            <output message="tns:ModifyMessageResponse"/>
        </operation>
        <operation name="DeleteMessage">
            <input message="tns:DeleteMessage"/>
            <output message="tns:DeleteMessageResponse"/>
        </operation>
        <operation name="GetMessage">
            <input message="tns:GetMessage"/>
            <output message="tns:GetMessageResponse"/>
        </operation>
        <operation name="GetSentMessages">
            <input message="tns:GetSentMessages"/>
            <output message="tns:GetSentMessagesResponse"/>
        </operation>
        <operation name="GetReceivedMessages">
            <input message="tns:GetReceivedMessages"/>
            <output message="tns:GetReceivedMessagesResponse"/>
        </operation>
        <operation name="SearchMessages">
            <input message="tns:SearchMessages"/>
            <output message="tns:SearchMessagesResponse"/>
        </operation>
    </portType>
    <binding name="MessagingServicePortBinding" type="tns:MessagingService">
        <wsp:PolicyReference URI="#MessagingServicePortBindingPolicy"/>
        <operation name="CreateMessage">
            <input/>
            <output/>
        </operation>
        <operation name="SendMessage">
            <input/>
            <output/>
        </operation>
        <operation name="ModifyMessage">
            <input/>
            <output/>
        </operation>
        <operation name="DeleteMessage">
            <input/>
            <output/>
        </operation>
        <operation name="GetMessage">
            <input/>
            <output/>
        </operation>
        <operation name="GetSentMessages">
            <input/>
            <output/>
        </operation>
        <operation name="GetReceivedMessages">
            <input/>
            <output/>
        </operation>
        <operation name="SearchMessages">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="MessagingServiceService">
        <port name="MessagingServicePort" binding="tns:MessagingServicePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="MessagingServicePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>



