trunk/services/dotnet/BabelServices/Babel.Services.TestClient/Service References/ProfileServiceReference/ProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://profile.services.babel.com" elementFormDefault="qualified" targetNamespace="http://profile.services.babel.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devbox:8080/Babel.Services/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" />
  <xs:import schemaLocation="http://devbox:8080/Babel.Services/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://devbox:8080/Babel.Services/ProfileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Babel.Services.Filters" />
  <xs:import schemaLocation="http://devbox:8080/Babel.Services/ProfileService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" minOccurs="0" name="profile" nillable="true" type="q1:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddProfileResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateProfileResult" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" minOccurs="0" name="GetProfileByCredentialsResult" nillable="true" type="q4:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" minOccurs="0" name="GetProfileByIDResult" nillable="true" type="q6:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" minOccurs="0" name="GetAllProfilesResult" nillable="true" type="q7:ArrayOfProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" minOccurs="0" name="profile" nillable="true" type="q8:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Babel.Services.Filters" minOccurs="0" name="filter" nillable="true" type="q10:ProfileFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" minOccurs="0" name="SearchProfilesResult" nillable="true" type="q11:ArrayOfProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactID" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="contactIDs" nillable="true" type="q15:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Babel.Services.Domain" minOccurs="0" name="GetContactsResult" nillable="true" type="q17:ArrayOfProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactID" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllContactsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>